/*General*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#banner {
    height: 30px;
}
#menu {
    width: 15%;
    float: left;
}
#main {
    width: 85%;
    float: left;
}

.error{
    color: red;
}
.space{
    margin-bottom: 10px;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.background{
    background-image: url('../img/background.jpg'); 
    min-height:100%;
}
.product{ 
    /* .news{  */
    margin-top: 3%;
    margin-left: 14%;
}
.helpside{
    margin-bottom: 100%;
}

/*Forms*/
.row::after {
    content: "";
    clear: both;
}

/*Helpsite*/
.helpgroup{
    background-color: white;
    color:rgb(1, 87, 87);
    margin: auto;
}



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  /* Formatting search box */
  .search-box{
    width: 300px;
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.search-box input[type="text"]{
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}